{#---------------------------------------------------------#}
{#------------------  CHARACTER CARD  ---------------------#}
{% macro character_card(character, membership=None) %}
        

{% endmacro %}


{#---------------------------------------------------------#}
{#-------------------  CAMPAIGN CARD  ---------------------#}
{% macro campaign_card(campaign, membership=None) %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{ campaign.title }}</h5>
        <p class="card-text">{{ campaign.description[:300] }}</p>
        </div>
        <ul class="list-group list-group-flush">
        {% for m in campaign.memberships %}
            <li class="list-group-item">{{ m.character }}-<span class="text-muted">{{ m.user }}</span></li>
        {% endfor %}
        </ul>
        <div class="card-body">
        <a href="{{ url_for('star.view_campaign', campaign_id=campaign.id) }}" class="card-link">View</a>
        <a href="{{ url_for('star.edit_campaign', campaign_id=campaign.id) }}" class="card-link">Edit</a>
        </div>
    </div>        

{% endmacro %}