{% extends "base.html" %} 

{% block linkitem %}blankpage-link{% endblock %}
{% block title %}{{campaign.title}}{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{campaign.title}}</h1>
    {% if campaign.image %} 
      <img src="{{ campaign.imgsrc }}" style="width:30px;height:30px;border:1px solid gray" class="img-profile rounded-circle"/>
    {% endif %}
  </div>
  <div>
    <h6>{{campaign.subtitle}}</h6>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-6">
      
    </div>
    <div class="col-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">About {{campaign.title}}</h6>
          </div>
          <div class="card-body">
            <h6>Played by: {{campaign.subtitle}}</h6><br>
            {{campaign.description}}
          </div>
      </div>
    </div>
    <!-- <div class="col-6">
      <div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">View DnDBeyond Sheet</h6>
				</div>
				<div class="card-body">
					<a href="#" class="btn btn-primary btn-icon-split btn-lg">
						<span class="icon text-white-50">
							<i class="fas fa-link"></i>
						</span>
						<span class="text">View DnDBeyond Sheet</span>
					</a>
				</div>
			</div>
    </div> -->
	</div>

{% endblock %}
