{% extends "base.html" %} 

{% block linkitem %}dashboard-link{% endblock %}
{% block title %}Dashboard{% endblock %} 
{% from "star/_cards.html" import campaign_card, character_card %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    {# LOOP AND DISPLAY CAMPAIGNS #}
      {% for membership in current_user.memberships %} 
        {{ campaign_card(membership.campaign, membership=membership) }}
      {% endfor %}
    {# ADD NEW CHARACTER CARD #}
    {# LOOP AND DISPLAY CHARACTERS #}
    {# ADD NEW CHARACTER CARD #}
	</div>
</div>

{% endblock %}
