{% extends "base.html" %} 

{% block linkitem %}dashboard-link{% endblock %}
{% block title %}Dashboard{% endblock %} 
{% from "star/_cards.html" import campaign_card, character_card %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    {# LOOP AND DISPLAY CAMPAIGNS #}
      {% for membership in current_user.memberships %} 
        {{ campaign_card(membership.campaign, membership=membership) }}
      {% endfor %}
      {# ADD NEW CAMPAIGN CARD #}
      <div class="card" style="width: 18rem;">
        <img src=" {{ url_for('static', filename='img/dnd/square/ROD_Bruenor.jpg') }} " class="card-img-top" alt="...">
        <div class="card-body">
          <a class="btn btn-primary btn-lg w-100" href="{{ url_for('star.new_campaign') }}">Start a campaign</a>
        </div>
      </div>  
    </div>      
    
    {# LOOP AND DISPLAY CHARACTERS #}
    <div class="row">
      {# LOOP AND DISPLAY CAMPAIGNS #}
        {% for character in current_user.characters %} 
          {{ character_card(character, current_user) }}
        {% endfor %}
        {# ADD NEW CHARACTER CARD #}
        <div class="card" style="width: 18rem;">
          <img src=" {{ url_for('static', filename='img/dnd/square/TOD3.jpg') }} " class="card-img-top" alt="...">
          <div class="card-body">
            <a class="btn btn-secondary btn-lg w-100" href="{{ url_for('star.new_character') }}">Make a new chacreter</a>
          </div>
        </div>  
      </div> 
   
	
</div>

{% endblock %} 
