<div class="row justify-content-md-center">
    <div class="col-log-6">
        <div class="card" style="width: 25rem;">
            <img src="{{ url_for('static', filename='img/starsight_logo_LG.png') }}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <img src="{{ url_for('static', filename='img/starsight_logo_LG.png') }}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-log-6">
        <div class="card" style="width: 25rem;">
            <img src="{{ url_for('static', filename='img/starsight_logo_LG.png') }}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <img src="{{ url_for('static', filename='img/starsight_logo_LG.png') }}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>