{# HERO #}
<div id="hero" class="full-height bg-gradient-secondary d-flex align-items-center">
    <div class="d-flex flex-column align-items-center">
        <img src="{{ url_for('static', filename='img/starsight_logo_LG_WHITE_shadow.png') }}"/>
        {% if current_user.is_authenticated and current_user.get_most_recent_log() %}
            <a id="herocta" class="btn btn-primary" href="{{ url_for('star.view_log', log_id=current_user.get_most_recent_log()) }}" role="button">Recent Log</a> 
        {% else %}        
            <a id="herocta" class="btn btn-primary" href="{{ url_for('security.register') }}" role="button">Register</a>
        {% endif %}
    </div>
</div>