{% extends "base.html" %} 

{% block linkitem %}homepage-link{% endblock %}
{% block title %}Welcome{% endblock %} 

{% block content %}

<div id="hero" class="full-height bg-gradient-secondary d-flex align-items-center">
    <img src="{{ url_for('static', filename='img/starsight_logo_LG_WHITE.png') }}"/>
    <center>
      <a class="btn btn-primary" href="login" role="button">Learn More</a>
    </center>
</div>


<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <center>
      <h1 class="h3 mb-0 text-grey-800">Starsight is a Tabletop RPG archiving tool built to help keep track of the session to session happenings. With the use of both private and public logs, it'll be easy to keep track of events and character changes if you're a DM or a player.</h1>
    </center>
  </div>
</div>

{% endblock %} 