{% extends "base.html" %} 

{% block linkitem %}homepage-link{% endblock %}
{% block title %}Welcome{% endblock %} 

{% block content %}

<div id="hero" class="full-height bg-gradient-secondary d-flex align-items-center bg-hero-image">
    <img src="{{ url_for('static', filename='img/starsight_logo_LG_WHITE.png') }}"/>
</div>


<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <center>
      <h1 class="h3 mb-0 text-grey-800">Starsight is a Tabletop RPG archiving tool built to help keep track of the session to session happenings. With the use of both private and public logs, it'll be easy to keep track of events and character changes if you're a DM or a player.</h1>
    </center>
  </div>
</div>

{% endblock %} 
{% block tail %}

    <script>
        $(document).ready(function() {
          randombg();
        }); 
        function randombg(){
          var random= Math.floor(Math.random() * 6) + 0;
          var bigSize = ["url('{{ url_for('static', filename='img/dnd/bg/HDQ_1920x1080v2.jpg') }}')",
                        "url('{{ url_for('static', filename='img/dnd/bg/ElementalEvil_1920x1080_Fire_Wallpaper.jpg') }}')",
                        "url('{{ url_for('static', filename='img/dnd/bg/MadMage_Expansion_1920x1080_WallpaperTemplate.jpg') }}')",
                        "url('{{ url_for('static', filename='img/dnd/bg/PHB_1920x1080v2.jpg') }}')",
                        "url('{{ url_for('static', filename='img/dnd/bg/TheGodborn_1920x1080.jpg') }}')",
                        "url('{{ url_for('static', filename='img/dnd/bg/Tiamat_1920x1080.jpg') }}')"];
          document.getElementById("hero").style.backgroundImage=bigSize[random];
        }  
    </script>
{% endblock %}