{% extends "base.html" %} 

{% block linkitem %}blankpage-link{% endblock %}
{% block title %}Blank Page{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      {% if user.image %} 
        <img src="{{ user.img }}" style="width:15%;height:width;border:1px solid gray" class="img-profile rounded-circle"/>
      {% endif %}
      {{ user }}'s Profile
    </h1>
    {% if user.last_seen %}
      <span class="badge badge-primary badge-pill text-italics">Last seen: {{ moment(user.last_seen).fromNow() }}</span>
    {% else %}
      <i>User has not been seen</i>
    {% endif %}
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-3">
      {# PROFILE PICTURE #}
      {% if user.image %} 
        <img src="{{ user.img }}" style="width:100%;height:width;border:1px solid gray" class="img-profile rounded-circle"/>
      {% endif %}
    </div>
    <div class="col-md-6">
      {# USER TEXT DATA #}
      {% from "star/_cards.html" import campaign_card %}
      {{ campaign_card(campaign)}}
      {# PHONE NUMBER#}
      <div class="card" style="border:1px,solid,lightslategray">
				{# HEADER #}
				<a href="#contactCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="contactCard">
					<h6 class="m-0 font-weight-bold text-primary">Contact {{ user.name }}</h6>
				</a>
			  {# CONTENT #}
				<div class="collapse show" id="contactCard">
					<div class="card-body">
            <strong>Phone Number: </strong>{{ user.phone }}<br>
            
            <strong>Email: </strong>{{ user.email }}
					</div>
				</div>
			</div>
      {# ABOUT SECTION #}
			<div class="card mt-3" style="border:1px,solid,lightslategray">
				{# HEADER #}
				<a href="#aboutCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="aboutCard">
					<h6 class="m-0 font-weight-bold text-primary">About {{ user.name }}</h6>
				</a>
			  {# CONTENT #}
				<div class="collapse show" id="aboutCard">
					<div class="card-body">
						{{ user.about }}
					</div>
				</div>
      </div>
      {% if user == user %}
      
      {% endif %}
    </div>
    <div class="col-3">

    </div>
    <div class="col-12 d-flex justify-content-sm-center">
      <a href="{{ url_for('.settings') }}" class="btn btn-primary {#btn-icon-split#} btn-lg mt-3 ">
        <!-- <span class="icon text-white-50"> -->
          <!-- <i class="fas fa-edit"></i> -->
        <!-- </span> -->
        <span class="text">Update profile.</span>
      </a>
    </div>
	</div>
</div>

{% endblock %}
