{% extends "base.html" %} 

{% block linkitem %}superadmin-link{% endblock %}
{% block title %}Super Admin{% endblock %} 

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Super Admin</h1>
		<a target="_blank" href="{{ url_for('admin.index') }}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-rocket fa-sm text-white-50"></i>  Flask-Admin</a>

  </div>

  	{# <!-- USER TABLE --> #}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">User Tables</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Registered</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Registered</th>
							<th>Actions</th>
						</tr>
					</tfoot>
					<tbody>
					{% for user in data['users'] %}
					<tr>
						<td>{{ user.first_name }}</td>
						<td>{{ user.last_name }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.when_registered }}</td>
						<td>
							<div class="dropdown no-arrow mb-4">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="{{ user.id }}-user-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Action
								</button>
								<div class="dropdown-menu" aria-labelledby="{{ user.id }}-user-action">
									<a href="{{ url_for('main.profile', user_id=user.id) }}" class="dropdown-item"><i class="fas fa-user fa-sm"></i> View Profile</a>
									<a href="{{ url_for('user.edit_view', id=user.id, url=url_for('main.superadmin')) }}" class="dropdown-item"><i class="fas fa-pencil-alt fa-sm"></i> Edit User</a>
									<a href=""  class="dropdown-item delete"><i class="fas fa-trash fa-sm"></i> Delete User</a>
								</div>
							</div>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	{#   --------------------  #}
	{#   ---CHARACTER TABLE--  #}
	{#   --------------------  #}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Character Tables</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTableChar" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Hp</th>
							<th>Str</th>
							<th>Int</th>
							<th>Wis</th>
							<th>Cons</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Hp</th>
							<th>Str</th>
							<th>Int</th>
							<th>Wis</th>
							<th>Cons</th>
							<th>Actions</th>
						</tr>
					</tfoot>
					<tbody>
						{% for character in data['characters'] %}
						<tr>
							<td>{{ character.name }}</td>
							<td>{{ character.hp }}</td>
							<td>{{ character.str }}</td>
							<td>{{ character.int }}</td>
							<td>{{ character.wis }}</td>
							<td>{{ character.cons }}</td>
							<td>
								<div class="dropdown no-arrow mb-4">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="{{ user.id }}-user-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Action
									</button>
									<div class="dropdown-menu" aria-labelledby="{{ user.id }}-user-action">
										<a href="" class="dropdown-item"><i class="fas fa-user fa-sm"></i> View Character</a>
														<a href="{{ url_for('main.profile', user_id=character.user_id) }}" class="dropdown-item"><i class="fas fa-user fa-sm"></i> View User</a>
										<a href="{{ url_for('character.edit_view', id=character.id, url=url_for('main.superadmin')) }}" class="dropdown-item"><i class="fas fa-pencil-alt fa-sm"></i> Edit Character</a>
										<a href=""  class="dropdown-item delete"><i class="fas fa-trash fa-sm"></i> Delete Character</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	{#   --------------------  #}
	{#   ---CAMPAIGN TABLE---  #}
	{#   --------------------  #}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Campaign Tables</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTableCamp" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Title</th>
							<th>Subtitle</th>
							<th>Description</th>
							<th>Sessions</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Title</th>
							<th>Subtitle</th>
							<th>Description</th>
							<th>Sessions</th>
							<th>Actions</th>
						</tr>
					</tfoot>
					<tbody>
						{% for campaign in data['campaigns'] %}
						<tr>
							<td>{{ campaign.title }}</td>
							<td>{{ campaign.subtitle }}</td>
							<td>{{ campaign.description[:100] }}</td>
							<td>{{ campaign.session_count }}</td>
							<td>
								<div class="dropdown no-arrow mb-4">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="{{ campaign.id }}-campaign-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Action
									</button>
									<div class="dropdown-menu" aria-labelledby="{{ campaign.id }}-campaign-action">
										<a href="{{ url_for('', campaign_id=campaign.id) }}" class="dropdown-item"><i class="fas fa-dungeon fa-sm"></i> View Campaign</a>
										<a href="{{ url_for('campaign.edit_view', id=campaign.id, url=url_for('main.superadmin')) }}" class="dropdown-item"><i class="fas fa-pencil-alt fa-sm"></i> Edit Campaign</a>
										<a href=""  class="dropdown-item delete"><i class="fas fa-trash fa-sm"></i> Delete Campaign</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	{#   --------------------  #}
	{#   --MEMBERSHIP TABLE--  #}
	{#   --------------------  #}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">User Tables</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTableMemb" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Registered</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Registered</th>
							<th>Actions</th>
						</tr>
					</tfoot>
					<tbody>
						{% for user in data['users'] %}
						<tr>
							<td>{{ user.first_name }}</td>
							<td>{{ user.last_name }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.when_registered }}</td>
							<td>
								<div class="dropdown no-arrow mb-4">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="{{ user.id }}-user-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Action
									</button>
									<div class="dropdown-menu" aria-labelledby="{{ user.id }}-user-action">
										<a href="{{ url_for('user.edit_view', id=user.id, url=url_for('main.superadmin')) }}" class="dropdown-item"><i class="icon-pencil"></i> Edit User</a>
										<a href=""  class="dropdown-item delete"><i class="icon-trash"></i> Delete User</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	{#   --------------------  #}
	{#   -----LOG TABLE------  #}
	{#   --------------------  #}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Log Tables</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTableLog" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Title</th>
							<th>Subtitle</th>
							<th>Body</th>
							<th>Group</th>
							<th>Created</th>
							<th>Session date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Title</th>
							<th>Subtitle</th>
							<th>Body</th>
							<th>Group</th>
							<th>Created</th>
							<th>Session date</th>
							<th>Action</th>
						</tr>
					</tfoot>
					<tbody>
						{% for log in data['logs'] %}
						<tr>
							<td>{{ log.title }}</td>
							<td>{{ log.subtitle }}</td>
							<td>{{ log.body[:100] }}</td>
							<td>{{ log.group }}</td>
							<td>{{ log.created_on }}</td>
							<td>{{ log.session_date }}</td>
							<td>
								<div class="dropdown no-arrow mb-4">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="{{ user.id }}-user-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Action
									</button>
									<div class="dropdown-menu" aria-labelledby="{{ user.id }}-user-action">
										<a href="" class="dropdown-item"><i class="fas fa-user fa-sm"></i> View Log</a>
														<a href="{{ url_for('main.profile', user_id=character.user_id) }}" class="dropdown-item"><i class="fas fa-user fa-sm"></i> View User</a>
										<a href="{{ url_for('log.edit_view', id=log.id, url=url_for('main.superadmin')) }}" class="dropdown-item"><i class="fas fa-pencil-alt fa-sm"></i> Edit Log</a>
										<a href=""  class="dropdown-item delete"><i class="fas fa-trash fa-sm"></i> Delete Log</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!-- /USER TABLE -->
	
</div>

{% endblock %}

{% block tail %}

  <!-- Chart plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}"></script>


  <!-- Data Table plugins -->
  <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Data Table custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>


{% endblock %}
