@import "sb-admin-2.scss";

/**********************************/
/***********  GLOBAL  *************/
/**********************************/


/* ( colors => _variables.scss )  */
body, p {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
}

#hero {
	margin-top: -70px;
	margin-bottom:50px;
	justify-content: center; 
}


#hero img {
	width: 50%;
}

/**********************************/
/************  LOGO  **************/
/**********************************/

#logo-img {
	max-width:100%;
}

.navbar-nav.sidebar .sidebar-brand #logo-small {
	display: none;
}

.navbar-nav.sidebar.toggled .sidebar-brand #logo-small {
	display: flex;
	width: 38%;
}

.userpage-logo {
    min-height: 50px;
    margin-top: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-login-image {
	background-image: url("/static/img/dice.jpg");
}

.bg-register-image {
	background-image: url("/static/img/forest.jpg");
}
